.title {
  text-align: center;
}

.mew-form, .loading {
  width: 50%;
  margin: 0 auto;
}
.loading {
  text-align: center;
}

img.loading-gif {
  width: 200px;
  height: auto;
}
.mews {
  width: 80%;
  margin: 0 auto;
}